{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">Kho báu nằm ở đâu?</h5>
        <div class="card-body">
            <p class="card-text">“Nếu cậu muốn một điều gì đủ lớn, cả vũ trụ sẽ hiện thực giúp bạn điều đó, qua những
                dấu hiệu mà nếu cậu nhìn kĩ mới có thể nhận ra”. - Cậu bé chăn cừu</p>
            <a href="#" class="btn btn-danger">Know more!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}